
html, body{
  height:100%;
  background-color: rgb(207, 243, 240);
  padding-top: 10px;
}
#messageArea{
  display: none;
}

.container {
  height: 100%;
}

#sendMessageArea {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.scroll-area{
  width:100%;
  height: 450px;
  margin-top:10px;
  float:left;
  overflow-y: auto;
}

.chat {
  word-wrap: break-word;
}

.list-group-item {
  padding: 3px 10px
}

#message {
  width: 100%;
  height: 35px;
}

  @media only screen and (max-width:400px) {
  /* For mobile phones: */
  .scroll-area {
    height:200px;
  }
}

  @media only screen and (max-width:768px) {
   
    .scroll-area {
      height:450px;
    }

}