body{

    margin-top:30px;
}

html, body {
    height:100%;
}
#messageArea{

    display: none;
}

#sendMessageArea {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.scroll-area{
    width:100%;
    height:500px;
    margin-top:10px;
    float:left;
    overflow-y: auto;
  }

  .chat {
    word-wrap: break-word;
  }



  @media only screen and (max-width:500px) {
  /* For mobile phones: */
  .scroll-area {
    height:300px;
  }
}